<% var title = "Login" %>
<% include head.ejs %>
<p id="greeting"></p>
<% if(rights == 'admin'){ %>
    <p>Ти адмін</p>
    <a href="/edit">Add new product</a>
    <% for(let i = 0; i < productArray.length; i++) {
        item = productArray[i] %>
            <div>
                <h3><a href="/products/<%= item.id_product %>"><%= item.name %></a></h3>
                <a href="/edit?id=<%= item.id_product %>">Edit</a>
                <a href="/delete?type=product&id=<%= item.id_product %>">Delete</a>
            </div>
    <% } %>
    <% for(let i = 0; i < ordersArray.length; i++) {
        item = ordersArray[i] %>
            <div>
                <p><%= item.id_order %></p>
                <time><%= item.order_date %></time>
                <a href="/delete?type=order&id=<%= item.id_order %>">Видалити замовлення зі списку</button>
            </div>
    <% } %>
<% } 
else {%>
    <p>Ти простий смертний</p>
<% } %>
<button onclick="logout()">Log Out</button>
<% if(locals.login) {%>
<script>
    setCookie("login", "<%= login %>", {path: "/"});
    setCookie("rights", "<%= rights %>", {path: "/"});
</script>
<% } %>
<script>
    document.getElementById("greeting").innerText = "Доброго часу доби " + getCookie("login"); 
</script>
<% include footer.ejs %>