<% var title = "Your cart" %>
<% include head.ejs %>
<% if(locals.productArray) { %>
    <table>
<% for(let i = 0; i < productArray.length; i++) {
    item = productArray[i] %>
        <tr class="<%= item.id_product %>">
                <td><a href="/products/<%= item.id_product %>"><%= item.name %></a></td>
                <td><img src="<%= item.img %>" alt=""></td>
                <td><span><%= item.price %> $</span></td>
                <td><input type="number" name="count" min="1" max= "<%= item.count %>" value="<%= cookie[item.id_product] %>"></td>
                <td><button id="<%= item.id_product %>" onclick="deleteFromCart(this.id)">Вилучити</button></td>
        </tr>
<% } %>
</table>
<form onsubmit="return checkOrder();" method="POST" action="/order">
    <button class="order" type="submit">Оформити замовлення</button>
</form>
<% } else { %>
<p class="messege">Кошик порожній</p>
<% } %>
<script>
    function deleteFromCart(id){
        deleteCookie("product"+id);
        document.getElementsByClassName(id)[0].innerHTML = "";
    }
</script>
<% include footer.ejs %>