<% var title = "Our products" %>
<% include head.ejs %>
<div class="prod-row">
<% for(let i = 0; i < productArray.length; i++) {
    item = productArray[i] %>
        <div class="prod-item">
            <div class="text-blocks">
                    <img src="<%= item.img %>" alt="Product Image">
                    <h3><a href="/products/<%= item.id_product %>"><%= item.name %></a></h3>
                    <p><%= item.description %></p>
            </div>
            <div class="input-blocks">
                <span><%= item.price %> $</span>
                <div>Кількість: <input type="number" name="count" min="1" max= "<%= item.count %>" value="1"></div>
                <button onclick="addToCart(<%= item.id_product %>, document.getElementsByName('count')[0].value)">В корзину</button>
            </div>
        </div>

<% } %>
</div>
<% include footer.ejs %>